@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-brand-50: #f0fce9;
  --color-brand-100: #ddf7d0;
  --color-brand-200: #bef0a6;
  --color-brand-300: #95e472;
  --color-brand-400: #7ed957;
  --color-brand-500: #50bb27;
  --color-brand-600: #3c951b;
  --color-brand-700: #2f7219;
  --color-brand-800: #295a1a;
  --color-brand-900: #264d1a;
  --color-brand-950: #0f2a09;

  --shadow-header-brand-400: 0px 2px 5px var(--color-brand-400); 
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}
  /* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey; 
  border-radius: 10px;
} */
::-webkit-scrollbar-thumb {
  background: var(--color-brand-50); 
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-100); 
}



/* Appsidebar menu element LoadingIndicator */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  color: brown;
  opacity: 0;
  animation:
    fadeIn 500ms 100ms forwards,
    rotate 1s linear infinite;
}

/* Section Home Page  */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes move {
  25% {
    transform: translatey(-4vmin);
  }
  50% {
    transform: translatey(-8.5vmin);
  }
  75% {
    transform: translatey(-12.5vmin);
  }
}

section#homepage {
  /* Background image */
  .background-image-before {
    background-image: 
      linear-gradient(to bottom, #80808012 1px, transparent 1px),
      linear-gradient(to left, #80808012 1px, transparent 1px); 
    
      /* Le transparent couvre la couleur précédente qui est considérer comme ignoré */
    -webkit-mask-image: linear-gradient(to bottom right, black 35%, transparent 36%);
    mask-image: linear-gradient(to bottom right, black 35%, transparent 40%);
  }

  .background-image-before {
    background-image: 
      linear-gradient(to top, #80808012 1px, transparent 1px),
      linear-gradient(to right, #80808012 1px, transparent 1px); 
    
    -webkit-mask-image: linear-gradient(to top left, black 15%, transparent 16%);
    mask-image: linear-gradient(to top left, black 15%, transparent 16%);
  }

  /* H1 Text animation */
  .typewriter-animation {
    animation: 
      typewriter 5s steps(35) 1s 1 normal both, 
  }
  /* H3 text animation  */
  .text-roller-animation { animation: move 10s infinite; }
  .text-roller {
    position: relative;
    top: -4vmin;
    left: 13vmin;
  }
  .closure::before {
    content: '';
    position: absolute;
    height: 20vmin;
    width: 54.5vmin;
    background: var(--background);
    transform: translate(-14.2vmin, -39vmin);
  }
  .closure::after {
    content: '';
    position: absolute;
    height: 20vmin;
    width: 54.5vmin;
    background: var(--background);
    transform: translate(-14.2vmin, -16.6vmin);
  }
}
